.note {
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
}
h2 {
    text-align: center;
}
header {
    display: grid;
}
header > p {
    grid-column: 1 / span 2;
    margin-bottom: 15px;
}
time {
    grid-column: 3 / span 4;
    align-items: center;
    justify-items: center;
}
header {
    text-align: center;
    align-items: center;
}
.contenido p:nth-child(1) {
    color: #6d95c8;
    margin-bottom: 10px;
}
.contenido p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 10px;
}

a.edit-link {
    margin-top: 1rem;
    margin-bottom: 18rem;
    background-color: #008cba;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.edit-link:hover {
    background-color: #00608a;
}

.foot-note {
    margin-top: 1rem;
    margin-bottom: 18rem;
    background-color: #008cba;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-note:hover {
    background-color: #00608a;
}

.foot-note button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline; /* Add this to ensure proper sizing */
}

li > header {
    background-color: #c7b531;
}
.head {
    display: grid;
    grid-column: auto auto;
}

.head a:nth-child(2) {
    background-color: #008cba;
    text-align: center;
    margin-bottom: 10px;
}
@media (min-width: 600px) {
    li {
        margin-top: 1rem;
    }
    .foot-note {
        margin-bottom: 0;
    }
}
