@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

div.app > header {
    background-color: var(--blue-color);
    padding: 2rem;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: auto;
    border: 2px solid;
}
* {
    font-size: 20px;
}
